@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  outline: 0; }

h1, h2, h3, h4, h5, h6, p, a, li, span {
  font-size: 16px; }

/*
@mixin responsive($type) {
	@if $type == percent {
		@media only screen and (max-width: 1000px) {@content}
	}
}
*/
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

.body_back {
  background-image: url(../img/body_back.jpg);
  background-size: 100%;
  background-position: 0 1%;
  background-repeat: repeat-x; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .body_back {
      background: none; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .body_back {
      background: none; } }
  @media only screen and (max-width: 499px) {
    .body_back {
      background: none; } }

.container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  background: #fff; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
      width: 100%; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .container {
      width: 100%; } }
  @media only screen and (max-width: 499px) {
    .container {
      width: 100%; } }

/*
target / context = result
какой нужен / какой по умолчанию = результат
*/
main {
  background: #f1ece6;
  margin-top: 20px; }

.main-container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .main-container {
      width: 100%; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .main-container {
      width: 100%; } }
  @media only screen and (max-width: 499px) {
    .main-container {
      width: 100%; } }

.space {
  margin-left: 18px; }

/*
@mixin responsive($type) {
	@if $type == percent {
		@media only screen and (max-width: 1000px) {@content}
	}
}
*/
.red-bold {
  color: red;
  font-weight: 600; }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

@media only screen and (max-width: 499px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

.h_top {
  position: relative;
  width: 100%;
  height: 200px;
  height: 50px; }

.h_top_line {
  border-bottom: 1px solid #f1ece6; }

nav {
  display: inline-block;
  vertical-align: top; }

.list {
  display: inline-block;
  vertical-align: top; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .list {
      display: none; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .list {
      display: none; } }
  @media only screen and (max-width: 499px) {
    .list {
      display: none; } }

.list-element {
  display: inline-block;
  margin-right: 20px;
  line-height: 50px; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .list-element {
      display: block;
      background: white;
      margin: 0; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .list-element {
      display: block;
      background: white;
      margin: 0; } }
  @media only screen and (max-width: 499px) {
    .list-element {
      display: block;
      background: white;
      margin: 0; } }

.list-link {
  font-size: 13px;
  font-weight: bold;
  color: #4f4f4f; }
  .list-link:hover {
    color: #3aacd6;
    text-decoration: none; }

.icons {
  vertical-align: top;
  margin-left: 20px;
  position: relative;
  width: 150px;
  height: 50px;
  display: inline-block; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .icons {
      width: 230px;
      margin-left: 40px; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .icons {
      width: 230px;
      margin-left: 20px; } }
  @media only screen and (max-width: 499px) {
    .icons {
      display: none; } }

.ok, .twit, .fb, .vk, .goo {
  margin: 12px 2px 0; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .ok, .twit, .fb, .vk, .goo {
      margin: 10px; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .ok, .twit, .fb, .vk, .goo {
      margin: 10px; } }

.ok {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/icon_ok.png), linear-gradient(to bottom, #6dccea, #3aacd6);
  background-repeat: no-repeat;
  border-radius: 4px; }
  .ok:hover {
    background-image: url(../img/icon_ok.png), linear-gradient(to top, #6dccea, #3aacd6);
    cursor: pointer; }

.twit {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/icon_twit.png), linear-gradient(to bottom, #6dccea, #3aacd6);
  background-repeat: no-repeat;
  border-radius: 4px; }
  .twit:hover {
    background-image: url(../img/icon_twit.png), linear-gradient(to top, #6dccea, #3aacd6);
    cursor: pointer; }

.fb {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/icon_fb.png), linear-gradient(to bottom, #6dccea, #3aacd6);
  background-repeat: no-repeat;
  border-radius: 4px; }
  .fb:hover {
    background-image: url(../img/icon_fb.png), linear-gradient(to top, #6dccea, #3aacd6);
    cursor: pointer; }

.vk {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/icon_vk.png), linear-gradient(to bottom, #6dccea, #3aacd6);
  background-repeat: no-repeat;
  border-radius: 4px; }
  .vk:hover {
    background-image: url(../img/icon_vk.png), linear-gradient(to top, #6dccea, #3aacd6);
    cursor: pointer; }

.goo {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/icon_goo.png), linear-gradient(to bottom, #6dccea, #3aacd6);
  background-repeat: no-repeat;
  border-radius: 4px; }
  .goo:hover {
    background-image: url(../img/icon_goo.png), linear-gradient(to top, #6dccea, #3aacd6);
    cursor: pointer; }

.authorize {
  display: inline-block;
  margin-left: 20px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  line-height: 50px; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .authorize {
      position: absolute;
      right: 5px; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .authorize {
      position: absolute;
      right: 5px; } }
  @media only screen and (max-width: 499px) {
    .authorize {
      position: absolute;
      right: 5px; } }

form {
  vertical-align: top;
  display: inline-block; }

.authorize__registr {
  font-size: 13px;
  color: #36aad6; }

.authorize__login, .authorize__pass {
  width: 120px;
  height: 25px;
  background: #f6f2ee;
  vertical-align: top;
  border: 1px solid #e3dacf;
  font-size: 14px;
  padding-left: 5px;
  color: #e3dacf;
  border-radius: 4px;
  margin: 10px 0 0 7px; }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .authorize__login, .authorize__pass {
      width: 80px; } }
  @media only screen and (max-width: 499px) {
    .authorize__login, .authorize__pass {
      width: 80px; } }

.authorize__submit {
  margin: 10px 0 0 7px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/icon_key.png), linear-gradient(to bottom, #6dccea, #3aacd6);
  background-repeat: no-repeat;
  border-radius: 4px; }
  .authorize__submit:hover {
    background-image: url(../img/icon_key.png), linear-gradient(to top, #6dccea, #3aacd6);
    cursor: pointer; }

.button_menu {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to bottom, #6dccea, #3aacd6);
  background-repeat: no-repeat;
  border-radius: 4px;
  font-size: 30px;
  color: white;
  display: none;
  margin: 4px; }
  .button_menu:hover {
    background-image: linear-gradient(to top, #6dccea, #3aacd6);
    cursor: pointer; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .button_menu {
      display: inline-block; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .button_menu {
      display: inline-block; } }
  @media only screen and (max-width: 499px) {
    .button_menu {
      display: inline-block; } }

/*
@mixin responsive($type) {
	@if $type == percent {
		@media only screen and (max-width: 1000px) {@content}
	}
}
*/
.red-bold {
  color: red;
  font-weight: 600; }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

@media only screen and (max-width: 499px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

.h_bottom {
  position: relative;
  height: 120px;
  margin-top: 20px; }

.logo {
  display: inline-block;
  vertical-align: top; }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .logo {
      width: 25%; } }
  @media only screen and (max-width: 499px) {
    .logo {
      display: none; } }

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .logo__image {
    width: 100%; } }

.basket {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 70px;
  margin-left: 50px; }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .basket {
      margin-left: 5px; } }
  @media only screen and (max-width: 499px) {
    .basket {
      margin-left: 0; } }

.basket__image {
  display: inline-block;
  vertical-align: top; }

.basket__link {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  color: #36aad6; }

.basket__price {
  font-size: 13px;
  position: absolute;
  right: 0;
  top: 25px; }

.basket__count {
  font-size: 14px; }

.delivery {
  width: 180px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  margin-left: 35px; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .delivery {
      display: none; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .delivery {
      display: none; } }
  @media only screen and (max-width: 499px) {
    .delivery {
      display: none; } }

.delivery__image {
  margin-top: 10px; }

.delivery__link {
  margin-left: 5px;
  font-size: 12px;
  color: #35a9d4;
  text-decoration: none;
  border-bottom: 1px dotted;
  vertical-align: top;
  line-height: 50px; }

.time {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 70px;
  margin-left: 19px; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .time {
      position: absolute;
      right: 5px; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .time {
      position: absolute;
      right: 5px; } }
  @media only screen and (max-width: 499px) {
    .time {
      position: absolute;
      right: 5px; } }

.time__worktime {
  text-align: right;
  font-size: 12px; }

.time__phone {
  color: #35a9d4;
  text-align: right;
  font-size: 27px; }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .time__phone {
      font-size: 20px; } }
  @media only screen and (max-width: 499px) {
    .time__phone {
      font-size: 20px; } }

.time__call {
  display: inline-block;
  width: 130px;
  height: 25px;
  background-image: linear-gradient(to bottom, #6dccea, #3aacd6);
  background-repeat: no-repeat;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  position: absolute;
  right: 0; }
  .time__call:hover {
    background-image: linear-gradient(to top, #6dccea, #3aacd6);
    cursor: pointer; }

.search__field {
  width: 120px;
  height: 25px;
  background: #f6f2ee;
  vertical-align: top;
  border: 1px solid #e3dacf;
  font-size: 14px;
  padding-left: 5px;
  color: #e3dacf;
  border-radius: 4px;
  border-left: 1px solid #e3dacf;
  border-top: 1px solid #e3dacf;
  border-bottom: 1px solid #e3dacf;
  border-right: none;
  border-radius: 4px 0 0 4px;
  width: 670px;
  height: 35px;
  position: absolute;
  right: 30px;
  bottom: 0; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .search__field {
      width: 63%; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .search__field {
      width: 93%; } }
  @media only screen and (max-width: 499px) {
    .search__field {
      width: 91%; } }

.search__find {
  width: 120px;
  height: 25px;
  background: #f6f2ee;
  vertical-align: top;
  border: 1px solid #e3dacf;
  font-size: 14px;
  padding-left: 5px;
  color: #e3dacf;
  border-radius: 4px;
  width: 20px;
  height: 23px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 7px 5px 5px;
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #e3dacf;
  border-top: 1px solid #e3dacf;
  border-bottom: 1px solid #e3dacf;
  border-left: none; }

/*
@mixin responsive($type) {
	@if $type == percent {
		@media only screen and (max-width: 1000px) {@content}
	}
}
*/
.red-bold {
  color: red;
  font-weight: 600; }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

@media only screen and (max-width: 499px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

.slideContainer {
  height: 350px;
  position: relative;
  margin-top: 15px; }

.slide1__image {
  margin-left: 70px; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .slide1__image {
      width: 40%; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .slide1__image {
      width: 50%;
      margin-left: 0; } }
  @media only screen and (max-width: 499px) {
    .slide1__image {
      width: 50%;
      margin-left: 0; } }

.slide1-right {
  display: inline-block;
  vertical-align: top;
  width: 439px;
  font-size: 16px; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .slide1-right {
      width: 50%; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .slide1-right {
      width: 48%; } }
  @media only screen and (max-width: 499px) {
    .slide1-right {
      width: 48%; } }

.slide1-right__h2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  font-size: 2.375em;
  font-weight: 400; }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .slide1-right__h2 {
      margin-left: 2%; } }
  @media only screen and (max-width: 499px) {
    .slide1-right__h2 {
      margin-left: 2%;
      font-size: 1.5em; } }

.slide1-right__text {
  margin-left: 10px;
  font-size: 0.8125em;
  width: 370px; }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .slide1-right__text {
      width: 100%;
      margin-left: 2%; } }
  @media only screen and (max-width: 499px) {
    .slide1-right__text {
      width: 100%;
      margin-left: 2%; } }

.slide1-right__price {
  margin-left: 10px;
  font-size: 1em;
  color: red; }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .slide1-right__price {
      margin-left: 2%; } }
  @media only screen and (max-width: 499px) {
    .slide1-right__price {
      margin-left: 2%; } }

.slide1-right__price_margin {
  margin-top: 20px; }

.slide1-right__buy-button {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: linear-gradient(to bottom, #6dccea, #3aacd6);
  background-repeat: no-repeat;
  border-radius: 4px;
  width: 270px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 21px;
  color: white; }
  .slide1-right__buy-button:hover {
    background-image: linear-gradient(to top, #6dccea, #3aacd6);
    cursor: pointer; }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .slide1-right__buy-button {
      width: 60px; } }
  @media only screen and (max-width: 499px) {
    .slide1-right__buy-button {
      width: 60px; } }

.slide1-right__buy-button-image {
  display: inline-block;
  vertical-align: top;
  margin: 10px; }

.slide1-right__buy-button-text {
  display: inline-block;
  vertical-align: top;
  font-size: 19px;
  margin-top: 15px; }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .slide1-right__buy-button-text {
      display: none; } }
  @media only screen and (max-width: 499px) {
    .slide1-right__buy-button-text {
      display: none; } }

.slideContainer__arrow {
  position: absolute;
  width: 26px;
  height: 120px;
  top: calc(50% - 60px);
  cursor: pointer; }

.slideContainer__arrow_left {
  left: 0;
  background: url(../img/arrow-left.png) no-repeat;
  background-position: -1px; }
  .slideContainer__arrow_left:hover {
    background-position: -30px; }

.slideContainer__arrow_right {
  right: 0;
  background: url(../img/arrow-right.png) no-repeat;
  background-position: -34px; }
  .slideContainer__arrow_right:hover {
    background-position: -8px; }

/*
@mixin responsive($type) {
	@if $type == percent {
		@media only screen and (max-width: 1000px) {@content}
	}
}
*/
.red-bold {
  color: red;
  font-weight: 600; }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

@media only screen and (max-width: 499px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

.smallSlideContainer {
  position: relative;
  margin-top: 20px; }

.smallCarousel {
  position: relative;
  width: 100%; }

.s-slide1__image {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  height: 98%;
  margin: 1%;
  margin-left: 2%; }

.smallSlideContainer__arrow {
  position: absolute;
  width: 13px;
  height: 48px;
  top: calc(50% - 60px);
  cursor: pointer; }

.smallSlideContainer__arrow_left {
  left: 0;
  background: url(../img/mini_arrow_left.png) no-repeat;
  background-position: -13px;
  top: calc(50% - 24px); }
  .smallSlideContainer__arrow_left:hover {
    background-position: 0; }

.smallSlideContainer__arrow_right {
  right: 0;
  background: url(../img/mini_arrow_right.png) no-repeat;
  background-position: 0;
  top: calc(50% - 24px); }
  .smallSlideContainer__arrow_right:hover {
    background-position: -13px; }

/*
@mixin responsive($type) {
	@if $type == percent {
		@media only screen and (max-width: 1000px) {@content}
	}
}
*/
.red-bold {
  color: red;
  font-weight: 600; }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

@media only screen and (max-width: 499px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

.sidebar {
  display: inline-block;
  vertical-align: top;
  width: 225px; }
  @media only screen and (max-width: 499px) {
    .sidebar {
      display: block;
      margin: 0 auto; } }

.sidebar-block {
  position: relative;
  background: #e86608;
  border-radius: 10px;
  color: white; }

.sidebar-block__circle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f1ece6; }

.sidebar-block__h2 {
  padding: 5% 10%;
  font-weight: 400; }

.sidebar-block__list {
  padding-left: 30px; }

.sidebar-block__list_background {
  background: #ee8413; }

.sidebar-block__list-title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer; }

.sidebar-block__inner-list {
  list-style-type: none;
  line-height: 30px;
  margin-left: 15px; }

.sidebar-block__inner-list-link {
  color: white;
  font-size: 13px; }
  .sidebar-block__inner-list-link:hover {
    text-decoration: none; }

.sidebar-block_margin {
  margin-top: 5px; }

.sidebar-block_banner {
  background: url(../img/banner_sideblock.jpg);
  height: 284px;
  margin-top: 15px;
  padding: 0;
  position: relative; }

.sidebar-block__h2_banner {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 30%;
  width: 100%;
  height: 40%;
  text-align: center;
  line-height: 2;
  font-size: 50px;
  font-weight: 400; }

/*
@mixin responsive($type) {
	@if $type == percent {
		@media only screen and (max-width: 1000px) {@content}
	}
}
*/
.red-bold {
  color: red;
  font-weight: 600; }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

@media only screen and (max-width: 499px) {
  .show-top-menu {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-right: 0; } }

.content {
  display: inline-block;
  vertical-align: top;
  width: 725px;
  margin-left: 50px; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .content {
      width: 60%; } }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .content {
      width: 50%;
      margin-left: 2%; } }
  @media only screen and (max-width: 499px) {
    .content {
      width: 100%;
      margin-left: 0; } }

.content__title {
  font-size: 30px;
  color: #4c4c4c;
  font-weight: 400; }
  @media only screen and (max-width: 499px) {
    .content__title {
      width: 100%;
      text-align: center;
      margin-top: 10px; } }

.item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 230px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  background-image: url(../img/item_basket.png);
  background-repeat: no-repeat;
  background-position: 0% 100%; }
  @media only screen and (max-width: 499px) {
    .item {
      display: block;
      margin: 0 auto; } }
  .item:hover {
    outline: 3px solid #ea5924;
    border-radius: 0;
    box-shadow: 0 0 20px;
    cursor: pointer;
    background-image: url(../img/item_basket_selected.png); }

.item_margin-x {
  margin-left: 15px;
  margin-right: 15px; }

.item_margin-y {
  margin-top: 15px;
  margin-bottom: 15px; }

.item__image {
  display: block;
  margin: 0 auto; }

.item__name {
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  color: #4c4c4c; }

.item__price {
  width: 90%;
  margin: 0 auto;
  font-size: 12px;
  color: red; }

.item__price_margin-y {
  margin-top: 5px; }

/*
.item__basket {
	background: url(../img/item_basket.png);
	width: 235px;
	height: 84px;
	position: absolute;
    left: -6px;
    &:hover {
    	background: url(../img/item_basket_selected.png);
    }
}
*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .item_margin-laptop {
    margin: 2%; } }

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .item_margin-laptop {
    margin: 2%; } }

@media only screen and (max-width: 499px) {
  .item_margin-laptop {
    margin: 20px auto; } }
