$top-height: 50px;
$link-size: 13px;
$top-block-margin: 20px;
$box-width: 100%;
$box-height: 200px;
$icon-size: 25px;
$icon-color: linear-gradient(to bottom, #6dccea, #3aacd6);
$basket-price-font-size: 13px;
$slider-text-width: 370px;