@import "includes";
@import "responsive";
@import "uilang";
@import "variables";
.slideContainer {
	height: 350px;
	position: relative;
	margin-top: 15px; 
}
.slide1__image {
	margin-left: 70px;
	@include responsive(laptop) {width: 40%;}
	@include responsive(tablet) {width: 50%; margin-left: 0;}
	@include responsive(phone) {width: 50%; margin-left: 0;}
}
.slide1-right {
	display: inline-block;
	vertical-align: top;
	width: 439px;
	font-size: 16px;
	@include responsive(laptop) {width: 50%;}
	@include responsive(tablet) {width: 48%;}
	@include responsive(phone) {width: 48%;}
}
.slide1-right__h2 {
	display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    font-size: 2.375em;
    font-weight: 400;
    @include responsive(tablet) {margin-left: 2%;}
    @include responsive(phone) {margin-left: 2%; font-size: 1.5em;}
}
.slide1-right__text {
	margin-left: 10px;
	font-size: 0.8125em;
	width: $slider-text-width;
	@include responsive(tablet) {width: 100%; margin-left: 2%;}
	@include responsive(phone) {width: 100%; margin-left: 2%;}
}
.slide1-right__price {
	margin-left: 10px;	
	font-size: 1em;
	color: red;
	@include responsive(tablet) {margin-left: 2%;}
	@include responsive(phone) {margin-left: 2%;}
}
.slide1-right__price_margin {
	margin-top: 20px;
}
.slide1-right__buy-button {
	@include button();
	width: 270px;
	height: 50px;
	margin-left: 10px;
	border-radius: 10px;
	font-size: 21px;
	color: white;
	@include responsive(tablet) {width: 60px;}
	@include responsive(phone) {width: 60px;}
}
.slide1-right__buy-button-image {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}
.slide1-right__buy-button-text {
	display: inline-block;
	vertical-align: top;
	font-size: 19px;
	margin-top: 15px;
	@include responsive(tablet) {display: none;}
	@include responsive(phone) {display: none;}
}
.slideContainer__arrow {
	@include arrow();	
}
.slideContainer__arrow_left {
	left: 0;	
	background: url(../img/arrow-left.png) no-repeat;
    background-position: -1px;
    &:hover {
    	background-position: -30px;
    }  
}
.slideContainer__arrow_right {
	right: 0;
	background: url(../img/arrow-right.png) no-repeat;
    background-position: -34px;
    &:hover {
    	background-position: -8px;
    }  
}